<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Grid</title>
  </head>
  <body>
    <table class="ImageGrid">
      <tr>
        <td><img src="Img/1.jpg" alt="" /></td>
        <td><img src="Img/2.jpg" alt="" /></td>
        <td><img src="Img/3.jpg" alt="" /></td>
      </tr>
      <tr>
        <td><img src="Img/4.jpg" alt="" /></td>
        <td><img src="Img/5.jpg" alt="" /></td>
        <td><img src="Img/6.jpg" alt="" /></td>
      </tr>
    </table>
  </body>
</html>
