<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>ImgGrid1x5</title>
  </head>
  <body>
    <table class="ImageGridLine">
      <tr>
        <td class="img1"><img src="img/1.jpg" alt="" /></td>
        <td class="img2"><img src="img/2.jpg" alt="" /></td>
        <td class="img3"><img src="img/3.jpg" alt="" /></td>
        <td class="img4"><img src="img/4.jpg" alt="" /></td>
        <td class="img5"><img src="img/5.jpg" alt="" /></td>
      </tr>
    </table>
  </body>
</html>
